.form-row {
    margin-bottom: 30px;
}
.edit-page p {
    margin-bottom: 3rem;
}
.edit-page select {
    padding: 5px 10px;
}
.edit-page button {
    padding: 5px 30px;
}
.edit-page label {
    display: inline-block;
    margin-bottom: 10px;
}
.form-row input {
    width: 30%;
    padding: 6px;
}
.form-row textarea {
    width: 30%;
    height: 8rem;
    padding: 6px;
}